deep-translator
edge-tts
firebase-admin
fpdf
gtts
googletrans==4.0.0-rc1
langdetect
moviepy
pandas
Pillow
plotly
pyrebase
PyPDF2
python-docx
requests
reportlab
sendgrid
SpeechRecognition
streamlit
srt
torch
transformers
whisper
pytesseract
pycryptodome>=3.18
